@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>This tennis score reporting project is built using:
    <ul>
        <li>* .NET framework with C# for the backend logic</li>
        <li>* Razor Pages for the front-end UI</li>
        <li>* Entity Framework Core (EF Core) to handle data access</li>
        <li>* A SQL database managed through Azure Data Studio</li>
        <li>* Docker to containerize the server environment</li>
    </ul>

    </p>
</div>
